<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,347},{106,102}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,50},{106,102}}</string>
                <key>sourceSize</key>
                <string>{224,170}</string>
            </dict>
            <key>ani_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,210},{152,126}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{152,126}}</string>
                <key>sourceSize</key>
                <string>{224,170}</string>
            </dict>
            <key>ani_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,210},{200,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{200,148}}</string>
                <key>sourceSize</key>
                <string>{224,170}</string>
            </dict>
            <key>ani_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,209},{218,166}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{218,166}}</string>
                <key>sourceSize</key>
                <string>{224,170}</string>
            </dict>
            <key>finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,87},{289,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,80}}</string>
                <key>sourceSize</key>
                <string>{289,80}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{162,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,81}}</string>
                <key>sourceSize</key>
                <string>{162,81}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{672,188}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,12},{672,188}}</string>
                <key>sourceSize</key>
                <string>{856,264}</string>
            </dict>
            <key>logo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,375},{430,128}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{430,128}}</string>
                <key>sourceSize</key>
                <string>{430,134}</string>
            </dict>
            <key>missionclear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,273},{432,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,33},{432,59}}</string>
                <key>sourceSize</key>
                <string>{506,127}</string>
            </dict>
            <key>missionclear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,519},{476,113}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{476,113}}</string>
                <key>sourceSize</key>
                <string>{506,127}</string>
            </dict>
            <key>missionclear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,519},{474,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,28},{474,71}}</string>
                <key>sourceSize</key>
                <string>{506,127}</string>
            </dict>
            <key>missionclear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,87},{432,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,33},{432,59}}</string>
                <key>sourceSize</key>
                <string>{506,127}</string>
            </dict>
            <key>next_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,167},{270,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{270,42}}</string>
                <key>sourceSize</key>
                <string>{274,44}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{300,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,87}}</string>
                <key>sourceSize</key>
                <string>{300,87}</string>
            </dict>
            <key>reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,305},{166,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,42}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>ui_game_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,210},{216,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,95}}</string>
                <key>sourceSize</key>
                <string>{216,95}</string>
            </dict>
            <key>ui_grid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ui_grid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,305},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_grid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,209},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_spector.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{684,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{684,22}}</string>
                <key>sourceSize</key>
                <string>{690,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layerui.png</string>
            <key>size</key>
            <string>{1020,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1057b148139125b02bf0499abc65371d$</string>
            <key>textureFileName</key>
            <string>layerui.png</string>
        </dict>
    </dict>
</plist>
